

.container {
    display: grid;
    max-height: 100%;
    width: 70%;
    padding: 2% 0;
    margin:auto;

}

#index-container {
    grid-template-columns: 50%  15% 25%;
    grid-template-rows: 1.5fr 1fr 0.5fr;
    column-gap: 5%;
    row-gap: 2%; 
}

#coaches-container{
    grid-template-columns: 30% 65%;
    grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 2%;
}

#gallery-container{
    grid-template-columns: none;
    grid-template-rows: none;
}

#membership-container{
    grid-template-columns: none;
    grid-template-rows: none;
    width: 100%;
}

#contact-container{
    grid-template-columns: 30% 65%;
    grid-template-rows: auto;
    column-gap: 3%;
    margin: 0% auto;
}


.membership-cards{
    padding-top: 4rem;
    margin: auto;
    width: 70%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 0;
    text-align: center;
    grid-template-areas:"membership-card1 membership-card2 membership-card3";
}

.image-gallery{
    padding: 4rem 0;
    margin: auto;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  
    grid-template-areas:"gallery-img1 gallery-img2 gallery-img2 gallery-img2"
                        "gallery-img1 gallery-img6 gallery-img7 gallery-img7"
                        "gallery-img10 gallery-img10 gallery-img9 gallery-img5"
                        "gallery-img3 gallery-img3 gallery-img3 gallery-img4"
                        "gallery-img8 gallery-img8 gallery-img11 gallery-img4";
}

#address{
    grid-column-start: 1;
}

.headline{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
}

.coaches {
    grid-column-start: 1;
} 


#primary {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 2;

}

#secondary {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: span 2;
}

#tertiary {
    grid-column-start: 1;
    grid-row-start: 3; 
}

#quadra {
    grid-column-start: 2;
    grid-column-end: span 2;
}

#map{
    grid-column-start: 2;
    text-align: right;

}

.hero { 
    grid-column-start: 1;
    grid-column-end: span 3;
}

.contact-box{
    grid-column-end: span 1;
}

.contact{
    grid-column-start: 1;
}



@media screen and (max-width: 1200px) {
    .container {
        display: block;
    }
    
    .coaches {
        display: block;
        text-align: center;

    } 

    .image-gallery{
      
        grid-template-areas:"gallery-img1 gallery-img1 gallery-img1 gallery-img1"
                            "gallery-img2 gallery-img2 gallery-img2 gallery-img2"
                            "gallery-img3 gallery-img3 gallery-img3 gallery-img3"
                            "gallery-img4 gallery-img4 gallery-img4 gallery-img4"
                            "gallery-img5 gallery-img5 gallery-img5 gallery-img5"
                            "gallery-img6 gallery-img6 gallery-img6 gallery-img6"
                            "gallery-img7 gallery-img7 gallery-img7 gallery-img7"
                            "gallery-img8 gallery-img8 gallery-img8 gallery-img8"
                            "gallery-img9 gallery-img9 gallery-img9 gallery-img9"
                            "gallery-img10 gallery-img10 gallery-img10 gallery-img10"
                            "gallery-img11 gallery-img11 gallery-img11 gallery-img11"
    }

    .membership-card1 .membership-button{
        grid-area: membership-button1;

    }

    .membership-card2 .membership-button{
        grid-area: membership-button2;
    }

    .membership-card3 .membership-button{
        grid-area: membership-button3;
    }

    .membership-cards{
        margin: auto;
        width: 70%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 0rem;
        grid-row-gap: 1.5rem;
        text-align: center;

        grid-template-areas:"membership-card1"
                            "membership-button1"
                            "membership-card2" 
                            "membership-button2"
                            "membership-card3" 
                            "membership-button3";




    }



}