---
layout: layout.njk
---

<body>
    <div class="container" id="contact-container">
        <div class="headline">
            <h2>
                Get in touch with us Today
            </h2>
        </div>

        <div class="address">
            <h2>
                Contact Us
            </h2>
        </div>

        <div class="contact">
            <p>
                Drop us a line if you have any queries in relation to our gym.
            </p>
        </div>

        <div class="contact-box">
            <input type = "text" class="field" placeholder="Your Name">
            <input type = "email" class="field" placeholder="Your email">
            <input type = "text" class="field" placeholder="Your phone number">
            <textarea rows="10" class="field" placeholder="Message"></textarea>

            <div id="content-button-area">
                <a href="#">
                    <button class="yellow-button">
                        Submit
                    </button>
                </a>
            </div>
        </div>

        <div class="address">
            <h2>
                Address
            </h2>
        </div>

        <div id="address">
            <ul>
                <li>Lot 5</li>
                <li>West Campus</li>
                <li>Carriganore</li>
                <li>Co. Waterford</li>
                <li>X45 Y7T4</li>
                <li>049 555 5555</li>
            </ul>
        </div>

        <div id="map">
            <iframe src="https://www.google.com/maps/d/embed?mid=1G5jrTNY3D4ZXtlFRRZH6RLIIT7IfaUeo&ehbc=2E312F"></iframe>
        </div>
    </div>
</body>