---
layout: layout.njk
---

<div class="container" id="gallery-container">
    <div id>
        <h2>
            Home for the Soul
        </h2>
    </div>

    <div class="image-gallery">
        <a href="/assets/img/gallery/img1.png" class="gallery-img1">
            <span class="material-icons">tab</span>
        </a>
        <a href="/assets/img/gallery/img2.png" class="gallery-img2">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img3.png" class="gallery-img3">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img4.png" class="gallery-img4">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img5.png" class="gallery-img5">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img6.png" class="gallery-img6">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img7.png" class="gallery-img7">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img8.png" class="gallery-img8">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img9.png" class="gallery-img9">
                <span class="material-icons">tab</span>
            </a>
        <a href="/assets/img/gallery/img10.png" class="gallery-img10">
                 <span class="material-icons">tab</span>
        </a>
         <a href="/assets/img/gallery/img11.png" class="gallery-img11">
                 <span class="material-icons">tab</span>
        </a>       
    </div>



</div>