---
layout: layout.njk
---

<body>
  <div class="container" id="index-container">
    <div class="hero">
      <div class="hero-text">
        <h1>
              The Art of Combat
            </h1>
        <p>
              Learn from the best coaches in the world.
            </p>
      </div>

      <div>
        <a href="/coaches">
          <button class="black-button">
                Learn More
              </button>
        </a>
      </div>
    </div>

    <div id="primary">
      <h2>
        Our Gym
      </h2>
      <p>
        Soul MMA is one of Ireland’s original Mixed Martial Arts and Brazilian Jiu Jitsu clubs, founded in 2002. 
        It began as a training club affiliated to Soul MMA under John Kavanagh based in NUIG, extending from the NUIG Taekwon-Do club.
        Its founding members included first generation Irish MMA fighters such as Mark Leonard, Vinny Connelly, Tom Haddock and 
        Mark O’Toole. We moved to our first full-time premises in 2006 in the Parkmore Business Park where the club was run by 
        Mark Leonard. In February 2011 Mark stepped aside and John Kavanagh took over as head coach. In May 2011 we moved to our new 
        facility in the Carriganore in the new purpose built facility in Waterford.
      </p>
      <p>
        Our purpose-built gym is close to local transport and has plenty of parking. A clean, modern facility, 
        it features a large matted area, a weights area, and a competition size MMA cage. It has both male and female 
        changing rooms and a shop so you can purchase any equipment that you need. We accept new members all the time so 
        contact us to enquire about a free trial class.
      </p>
      <p>
        We have an array of amateur and professional fighters, no matter if your just starting out or already an experienced fighter we have something to offer.

      </p>
    </div>

    <div id="secondary">
      <h2>
        World Class Coaches
      </h2>
      <p>
        We have acquired excellent coaches throughout the years and are now considered the "premier" place to be for up and coming fighters hoping to join
        fighting organisations. Our coaches hail from all over the world and bring an interntional pedigree - the likes of which has never been seen before.
      </p>
      <p>
        In 2004, champion UFC fighter Daniel Cormier began training at the club during fight camps which then led to him taking up a full-time 
        role as our lead wrestling coach. Similarly, just 3 months later, Firas Zahabi joined as our head BJJ coach after having moved to Ireland with his family.
        In 2014 we added the greatest Muay Thai fighter to have ever lived as our head striking coach. Suphachai "Saenchai" Saepong moved to Ireland after having had
        a pint of guness whilst over here. He fell in love with it and decided that he would move over here so he could drink it at any time.
      </p>
      <p>
        You will be safe in the very experienced hands of all of our coaches. Our coaches offer free one-to-one sessions to members of our gym. This is where they can 
        take a personal approach to your fighting and fitness development.
      </p>
    </div>

    <div id="tertiary">
      <h2>
          Community
        </h2>
      <p>
          At Soul MMA we like to think of ourselves as a family. We train together and win together.
          We like to take part in community programmes so that we can give back. You will often find our Coaches and fighters volunteering
          in many different places. Take a look at our wonderful community.
        </p>

      <a href="/gallery">
        <button class="yellow-button">
            Gallery
        </button>
      </a>
    </div>
    <div id="quadra">
      <h2>
          Memberships
      </h2>
      <p>
          We have a range of membership options to choose from.
        </p>

      <a href="/memberships">
        <button class="yellow-button">
            Memberships
        </button>
      </a>
    </div>

  </div>
</body>