---
layout: layout.njk
---

<body>
    <div class="container" id="membership-container">
        <div>
            <h2>
            Become a Member
        </h2>
        </div>

        <div class="membership-cards">
            <div id="membership-card1">
                <P>
                    Starter Pack
                </p>
                <h3>
                    €39.99
                </h3>
                <ul>
                    <li>Unlimited classes</li>
                    <li>Unlimited gym use</li>
                    <li>Free one-to-one consultation</li>
                </ul>
            </div>

            <div class="membership-button">
                <a href="#">
                    <button>
                        Buy Now
                    </button>
                </a>
            </div>

            <div id="membership-card2">
                <P>
                    Warrior Pack
                </p>
                <h3>
                    €49.99
                </h3>
                <ul>
                    <li>Unlimited classes</li>
                    <li>Unlimited gym use</li>
                    <li>Free one-to-one consultation</li>
                    <li>4 one-to-one sessions with each of our Coaches</li>
                </ul>
            </div>

            <div class="membership-button">
                <a href="#">
                    <button>
                        Buy Now
                    </button>
                </a>
            </div>

            <div id="membership-card3">
                <P>
                    Gladiator Pack
                </p>
                <h3>
                    €59.99
                </h3>
                <ul>
                    <li>Unlimited classes</li>
                    <li>Unlimited gym use</li>
                    <li>Free one-to-one consultation</li>
                    <li>Unlimited one-to-ones</li>
                    <li>Free Gym Towel & Hoodie</li>
                </ul>
            </div>

            <div class="membership-button">
                <a href="#">
                    <button>
                        Buy Now
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>