
<footer>
  <div class="footer-container">

    <div class="footer-contact">
      <h4>
        Contact
      </h4>
      <ul>
        <li>Lot 5</li>
        <li>West Campus</li>
        <li>Carriganore</li>
        <li>Co. Waterford</li>
        <li>X45 Y7T4</li>
        <li>049 555 5555</li>
      </ul>
    </div>

    <div class="footer-opening-hours">
      <h4>
        Opening Hours
      </h4>
      <ul>
        <li>Monday - Friday: 6:00a.m - 22:00p.m</li>
        <li>Saturday - Sunday: 9:00a.m - 19:00p.m</li>
      </ul>
    </div>

    <div class="footer-socials">
      <h4>
        Social Media
      </h4>
      <div class="social-media-container">
        <a href="https://www.facebook.com">
            <img class="social-media-icons" src="/assets/img/socials/facebook.png">
        </a>
        <a href="https://www.instagram.com">
          <img class="social-media-icons" src="/assets/img/socials/instagram.png">
        </a>
        <a href="https://www.twitter.com">
          <img class="social-media-icons" src="/assets/img/socials/Twitter.png">
        </a>
        <a href="https://www.linkdin.com">  
          <img class="social-media-icons" src="/assets/img/socials/linkdin.png">
        </a>
      </div>
    </div>
  </div>



  <div class="footer-boilerplate">
    <div class="author">
      <div class = "footer-logo">
        <img src="/assets/img/logo/logo.png"></img>
      </div>
      Created by Matthew Hornby
    </div>
</footer>